
#about_content_id {
    overflow: scroll;
    width: 300px;
    height: 300px;
}
#about_view_id {
    overflow: hidden;
    height: 100%;
}
table tbody {
    display:block;
    /* height:195px; */
    overflow-y:scroll;
}
table thead, tbody tr {
    display:table;
    /* width:100%; */
    table-layout:fixed;
}
